@page "/garden"

@using EverythingFarm_Eat.Components.Models
@using Microsoft.AspNetCore.Components.Forms
@using EverythingFarm_Eat.Services
@using System.Threading.Tasks
@inject IEmailService emailService
@inject NavigationManager NavigationManager

<h4>Shop</h4>
<h4 class="text-warning">Order here for seedlings and special gifts!</h4>



<div class="row d-flex justify-content-left" style="padding: 1rem;">
    <div class="col-md-12  justify-content-md-center">
        <EditForm Model="@customerForm" OnValidSubmit="@HandleValidSubmit" FormName="CustomerForm">
            <DataAnnotationsValidator />
            <ValidationSummary />
        
        <h5 class="text-center" style="padding-top: 1rem;">Order Form</h5>
        <br />
        <div class="row" style="margin:auto;">
                <div class="col-md-4">
                    <label>First Name:</label>
                    <InputText id="firstName" class="form-control" @bind-Value="@customerForm.FirstName" placeholder="First Name" />
                    <ValidationMessage For="@(() => customerForm.FirstName)" />
                </div>

                <div class="col-md-4">
                    <label>Last Name:</label>
                    <InputText id="lastName" class="form-control" @bind-Value="@customerForm.LastName" placeholder="Last Name" />
                    <ValidationMessage For="@(() => customerForm.LastName)" />
                </div>
        </div>
            
            <div class="row d-flex justify-content-left" style="margin: auto;">
                <div class="col-md-4">
                    <label>Email:</label>
                    <InputText id="email" class="form-control" @bind-Value="@customerForm.Email" placeholder="Email Address" />
                    <ValidationMessage For="@(() => customerForm.Email)" />
                </div>
            </div>
            <div class="row d-flex justify-content-left" style="margin: auto;">
                <div class="col-md-4">
                    <label>Street Address:</label>
                    <InputText id="streetAddress" class="form-control" @bind-Value="customerForm.StreetAddress" placeholder="Street Address" />
                    <ValidationMessage For="@(() => customerForm.StreetAddress)" />
                </div>
            </div>
            <div class="row d-flex justify-content-left" style="margin: auto;">
                <div class="col-md-4">
                    <label>Address 2:</label>
                    <InputText id="address2" class="form-control" @bind-Value="customerForm.Address2" placeholder="Address 2" />
                    <ValidationMessage For="@(() => customerForm.Address2)" />
                </div>
            </div>
            <div class="row d-flex justify-content-left" style="margin: auto;">
                <div class="col-md-4">
                    <label>City:</label>
                    <InputText id="city" class="form-control" @bind-Value="customerForm.City" placeholder="City" />
                    <ValidationMessage For="@(() => customerForm.City)" />
                </div>
                <div class="col-md-4">
                    <label>State:</label>
                    <InputSelect id="state" class="form-select" @bind-Value="customerForm.State">
                        <option>Choose...</option>
                        @foreach (var states in StateHelper.GetStates())
                        {
                            <option value="@states">@states</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => customerForm.State)" />
                </div>
                <div class="col-md-4">
                    <label>Zip Code:</label>
                    <InputText id="zipCode" class="form-control" @bind-Value="customerForm.ZipCode" placeholder="Zip Code" />
                    <ValidationMessage For="@(() => customerForm.ZipCode)" />
                </div>
            </div>
            <br />
            <div class="row d-flex justify-content-left" style="margin:auto;">
                <div class="col-md-4">
                    <label>Seedlings</label>
                    <InputCheckbox @bind-Value="customerForm.Item" />
                </div>
            <div class="row d-flex justify-content-left" style="margin: auto;">
                <div class="col-md-4">
                    <label style="margin-left:-10px;">Earrings</label>
                    <InputCheckbox @bind-Value="customerForm.Item"/>
                </div>
            </div>
                
            </div>
            <div class="row d-flex justify-content-left" style="margin: auto;">
               
                <div class="col-md-4">
                    <label>Quantity:</label>
                    <InputNumber id="quantity" class="form-control" @bind-Value="customerForm.Quantity" />
                    <ValidationMessage For="@(() => customerForm.Quantity)" />
                </div>
                <div class="col-md-4">
                    <label>Price:</label>
                    
                    <ValidationMessage For="@(() => customerForm.Price)" />
                </div>
                <div class="col-md-4">
                    <label>Total:</label>
                    <InputNumber id="total" class="form-control" @bind-Value="customerForm.Total" />
                    <ValidationMessage For="@(() => customerForm.Total)" />
                </div>
            </div>
               
            
            <div class="row d-flex justify-content-left" style="margin: auto;">
                <div class="col-md-8">
                    <label>Message:</label>
                    <InputTextArea id="message" class="form-control" @bind-Value="customerForm.Message" />
                    <ValidationMessage For="@(() => customerForm.Message)" />
                </div>
            </div>
            <br />
        <div class="d-grid d-md-flex justify-content-md-center">
            <button type="submit" class="btn btn-primary mx-auto">Request</button>
        </div>
        <br /><br />
        <div class="d-grid d-md-flex justify-content-md-center">
            <img src="/images/The Everything Farm.svg" alt="logo" />
        </div>

        </EditForm>
    </div>
</div>





    





    
        
    


@code {
    private string fromEmail = "ematthews69@theeverythingfarmeatery.com";
    private CustomerForm customerForm = new CustomerForm
        {
            FirstName = string.Empty,
            LastName = string.Empty,
            Email = string.Empty,
            Phone = string.Empty,
            StreetAddress = string.Empty,
            Address2 = string.Empty,
            City = string.Empty,
            State = string.Empty,
            ZipCode = string.Empty,
            Item = false,
            Price = decimal.Zero,
            Quantity = 0,
            Total = decimal.Zero,
            Subject = string.Empty,
            Message = string.Empty,
            ClientEmail = "ematthews69@theeverythingfarmeatery.com"
        };

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "ArrowUp")
        {
            customerForm.Quantity++;
        }
        else if (e.Key == "ArrowDown")
        {
            if (customerForm.Quantity > 0)
            {
                customerForm.Quantity--;
            }
        }
    }


    private async Task HandleValidSubmit()
    {
        try
        {
            await HandleFormSubmission(customerForm);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error submitting form: {ex.Message}");
        }
    }

    private async Task HandleFormSubmission(CustomerForm customerForm)
    {
        if (customerForm.ClientEmail is null)
        {
            throw new ArgumentNullException(nameof(customerForm.ClientEmail));
        }

        string message = $"Name: {customerForm.FirstName} {customerForm.LastName}\n" +
                         $"Email: {customerForm.Email}\n" +
                         $"Phone: {customerForm.Phone}\n" +
                         $"Street Address: {customerForm.StreetAddress}\n" +
                         $"Address 2: {customerForm.Address2}\n" +
                         $"City: {customerForm.City}\n" +
                         $"State: {customerForm.State}\n" +
                         $"Zip Code: {customerForm.ZipCode}\n" +
                         $"Item: {customerForm.Item}\n" +
                         $"Price: {customerForm.Price}\n" +
                         $"Quantity: {customerForm.Quantity}\n" +
                         $"Total: {customerForm.Total}\n" +
                         $"Subject: {customerForm.Subject}\n" +
                         $"Message: {customerForm.Message}";

        await emailService.SendEmailAsync(
            fromEmail,
            "ematthews69@theeverythingfarmeatery.com",
            "new order form submission",
            message
        );

        await ClearMessage();

        async Task ClearMessage()
        {
            await Task.Delay(3000);
            customerForm.Message = string.Empty;
        }
    }
}

